<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>
      按钮演示组件
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="dark">
    通过color属性修改按钮颜色
  </ion-button>

  <ion-button color="primary">
    按钮
  </ion-button>

  <ion-button color="primary" expand="block">
    expand 设置按钮的宽度
  </ion-button>
  <ion-button color="primary" expand="full">
    expand 设置按钮的宽度
  </ion-button>
  <ion-button color="primary" expand="block" fill="outline">
    fill 设置背景填充
  </ion-button>

  <ion-button>
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <ion-button fill="clear">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-icon name="add"></ion-icon>

  <ion-button size="large">
    size 设置 button 大小
  </ion-button>
  <ion-button size="small">
    size 设置 button 大小
  </ion-button>

  <ion-button mode="ios" color="primary">
    ios 平台按钮
  </ion-button>
  <ion-button mode="md" color="primary">
    android 平台按钮
  </ion-button>

  <ion-button color="primary">
    图标在左侧文字在右侧的按钮
    <ion-icon slot="start" name="add-circle-outline"></ion-icon>
  </ion-button>
  <ion-button color="primary">
    图标在右侧文字在左侧的按钮
    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
  </ion-button>

  <ion-button color="primary">
    <ion-icon slot="start" name="add"></ion-icon>
    增加
  </ion-button>
  <ion-icon name="settings" color="success" class="myicon"></ion-icon>

  <ion-button fill="clear">
    <ion-icon slot="icon-only" name="checkbox-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="showAction()">
    弹出ActionSheet
  </ion-button>

  <ion-button (click)="presentAlert()">
    Alert
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()">
    AlertMultiple
  </ion-button>
  <ion-button (click)="presentAlertConfirm()">
    AlertConfirm
  </ion-button>
  <ion-button (click)="presentAlertPrompt()">
    AlertPrompt
  </ion-button>
  <ion-button (click)="presentAlertRadio()">
    AlertRadio
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()">
    AlertCheckbox
  </ion-button>

  <ion-button (click)="presentToast()">
    Toast
  </ion-button>
  <ion-button (click)="presentToastWithOptions()">
    ToastOptions
  </ion-button>

  <ion-button (click)="presentLoading()">
    Loading
  </ion-button>
  <ion-button (click)="presentLoadingWithOptions()">
    LoadingOption
  </ion-button>

  <ion-button (press)="doPress()">
    长按触发事件
  </ion-button>
  <ion-button (tap)="presentLoading()">
    点击触发事件
  </ion-button>

  <ion-button (click)="presentModal()">
    Modal
  </ion-button>
</ion-content>